<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>33</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-446</integer>
        <key>width</key>
        <integer>23</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>987</integer>
        <key>width</key>
        <integer>25</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>1374</integer>
        <key>width</key>
        <integer>33</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>X: 98</key>
      <dict>
        <key>width</key>
        <integer>98</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>32</key>
          <integer>2</integer>
          <key>53</key>
          <integer>3</integer>
          <key>74</key>
          <integer>4</integer>
          <key>95</key>
          <integer>5</integer>
          <key>115</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 104</key>
      <dict>
        <key>width</key>
        <integer>104</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>30</key>
          <integer>2</integer>
          <key>50</key>
          <integer>3</integer>
          <key>69</key>
          <integer>4</integer>
          <key>89</key>
          <integer>5</integer>
          <key>109</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 184</key>
      <dict>
        <key>width</key>
        <integer>184</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>28</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>51</key>
          <integer>5</integer>
          <key>62</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 215</key>
      <dict>
        <key>width</key>
        <integer>215</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>34</key>
          <integer>4</integer>
          <key>43</key>
          <integer>5</integer>
          <key>53</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
</dict>
</plist>
