<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.LCapBaseL</key>
  <dict>
    <key>public.kern2.RCapDiagV</key>
    <integer>-130</integer>
    <key>public.kern2.RCapDiagW</key>
    <integer>-80</integer>
    <key>public.kern2.RCapRound</key>
    <integer>-1</integer>
    <key>public.kern2.RCapTopT</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.LCapBaseR</key>
  <dict>
    <key>public.kern2.RCapDiagV</key>
    <integer>-100</integer>
    <key>public.kern2.RCapDiagW</key>
    <integer>-90</integer>
    <key>public.kern2.RCapTopT</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.LCapBaseU</key>
  <dict>
    <key>public.kern2.RCapDiagA</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.LCapCurve</key>
  <dict>
    <key>public.kern2.RCapDiagA</key>
    <integer>-1</integer>
  </dict>
  <key>public.kern1.LCapDiagA</key>
  <dict>
    <key>public.kern2.RCapBaseU</key>
    <integer>-60</integer>
    <key>public.kern2.RCapDiagV</key>
    <integer>-210</integer>
    <key>public.kern2.RCapDiagW</key>
    <integer>-150</integer>
    <key>public.kern2.RCapRound</key>
    <integer>-50</integer>
    <key>public.kern2.RCapTopT</key>
    <integer>-160</integer>
  </dict>
  <key>public.kern1.LCapDiagV</key>
  <dict>
    <key>public.kern2.RCapDiagA</key>
    <integer>-190</integer>
    <key>public.kern2.RCapRound</key>
    <integer>-40</integer>
    <key>public.kern2.RCapTopS</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.LCapDiagW</key>
  <dict>
    <key>public.kern2.RCapDiagA</key>
    <integer>-140</integer>
    <key>public.kern2.RCapRound</key>
    <integer>-20</integer>
    <key>public.kern2.RCapTopS</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.LCapDiagX</key>
  <dict>
    <key>public.kern2.RCapRound</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.LCapRound</key>
  <dict>
    <key>public.kern2.RCapDiagA</key>
    <integer>-30</integer>
    <key>public.kern2.RCapDiagV</key>
    <integer>-40</integer>
    <key>public.kern2.RCapDiagW</key>
    <integer>-20</integer>
    <key>public.kern2.RCapDiagX</key>
    <integer>-40</integer>
    <key>public.kern2.RCapTopT</key>
    <integer>-1</integer>
  </dict>
  <key>public.kern1.LCapTopP</key>
  <dict>
    <key>public.kern2.RCapDiagA</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.LCapTopT</key>
  <dict>
    <key>public.kern2.RCapDiagA</key>
    <integer>-139</integer>
    <key>public.kern2.RCapRound</key>
    <integer>-1</integer>
    <key>public.kern2.RCapTopS</key>
    <integer>-1</integer>
  </dict>
</dict>
</plist>
