<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>LoopedSqr</key>
  <string>L_oopedS_qr.glif</string>
  <key>LtnInvGlottalStop</key>
  <string>L_tnI_nvG_lottalS_top.glif</string>
  <key>LtnInvGlottalStopCurl</key>
  <string>L_tnI_nvG_lottalS_topC_url.glif</string>
  <key>LtnSmSCurl</key>
  <string>L_tnS_mS_C_url.glif</string>
  <key>LtnSmTurnedTCurl</key>
  <string>L_tnS_mT_urnedT_C_url.glif</string>
</dict>
</plist>
