<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombDwnArrw</key>
  <string>C_ombD_wnA_rrw.glif</string>
  <key>CombHookAbv</key>
  <string>C_ombH_ookA_bv.glif</string>
  <key>CombKayanGraveAcute</key>
  <string>C_ombK_ayanG_raveA_cute.glif</string>
  <key>CombOpnMrkBlw</key>
  <string>C_ombO_pnM_rkB_lw.glif</string>
  <key>LoopedSqr</key>
  <string>L_oopedS_qr.glif</string>
  <key>LtnCapWHook</key>
  <string>L_tnC_apW_H_ook.glif</string>
  <key>LtnCapYHook.RtHook</key>
  <string>L_tnC_apY_H_ook.R_tH_ook.glif</string>
  <key>LtnSmSCurl</key>
  <string>L_tnS_mS_C_url.glif</string>
  <key>LtnSmTurnedTCurl</key>
  <string>L_tnS_mT_urnedT_C_url.glif</string>
  <key>LtnSmVRtHook</key>
  <string>L_tnS_mV_R_tH_ook.glif</string>
  <key>LtnSmWHook</key>
  <string>L_tnS_mW_H_ook.glif</string>
  <key>LtnSmYHook.RtHook</key>
  <string>L_tnS_mY_H_ook.R_tH_ook.glif</string>
</dict>
</plist>
